body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}
main{
    margin: 50px auto;
    width: 960px;
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-template-rows: 360px auto;
    grid-template-areas: "dados-pessoais experiências"
                         "habilidades experiências";   
                  

}
#dados-pessoais,#habilidades,#experiências{
    padding: 20px;
    border-radius:6px ;
   box-shadow: 6px 5px 5px  rgb(54, 52, 74);
}
 #dados-pessoais{
    background-color: rgb(52, 60, 74);
     color:rgb(255, 255, 255);
     grid-area:dados-pessoais ;
  
 }
 #dados-pessoais a {
color:#fff
 }

 #habilidades{
    background-color: rgb(197, 194, 182);
    grid-area: habilidades;
   
}
 
#experiências{
     background-color: #8e8e7f;
     grid-area: experiências;
 color: #fff;
 }

@media (max-width:960px){
    main{
       margin: 0;
       width: 100%;
    }
}
@media (max-width:720px){
main{
    grid-template-columns: 1fr;
grid-template-areas: "dados-pessoais "
                    "habilidades"
                    "experiências";
    }
}


a:link{
    text-decoration: none;
color: #fff;
}
a:hover {
text-decoration: underline;
}

